<header class="header">
    <a href="/" class="header-logo">FindWriter</a>

    <nav class="header-nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/writers" class="">Writers</a>
            </li>
            <li>
                <a href="/about" class="">About</a>
            </li>
        </ul>
    </nav>

    <div class="header-button">
        <a href="/login" class="button">Login</a>
    </div>
</header>