<div class="author">
    <h1 class="author-header" style="text-decoration: underline;">Search Results</h1>
</div>

<section class="found-writers">

    <ul class="writers-list">
        

        <% result.forEach(writer => { %>
         
            <li>
                <a href="/writers/<%= writer._id %>">
                    <span><%= writer.name  %></span>
                    <span class="wr-bio"><%= writer.bio %></span>
                </a>
            </li>

        <% }) %>


    </ul>

</section>