<h3 style="text-decoration: underline; text-underline-offset: 6px;">Sign in</h3>

<form action="/login" method="post" class="index-form">
    <div>
        <label for="username"><b>Username:</b></label>
        <input type="text" placeholder="Enter Username" name="username">

        <label for="password"><b>Password:</b></label>
        <input type="password" placeholder="Enter Password" name="password">

        <button type="submit">Login</button>
    </div>
</form>

<a href="/register">I don't have an accout</a>